@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face{
    font-family: 'fontelogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
    text-indent: 25px;
}

.interface{
    width: 800px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
/* Formatação do cabeçalho */
}

.cab {
    text-align: center;
}
header#cabecalho {
    border-bottom: 2px rgb(39, 37, 37) solid;
    height: 150px; 
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}
header#cabecalho img#icone{
    position: absolute;
    left: 900px;
    top: 50px; 
}
header#cabecalho h1{
    font-size: 30px;
    font-family: 'fontelogo', sans-serif;
    color: #606060;
    text-shadow: 1px /*deslocamento*/ 1px/*deslocamento vertical*/ 1px /*espalhamento*/ rgba(0, 0, 0, .8) /*cor*/;
    padding: 0px;  
    margin-bottom: 0px;
    text-align: left;

}
header#cabecalho h2{
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    padding: 0px;
    margin-top: 0px; 
    text-align: left
}
article#noticia-principal h2{
    font-size: 12pt;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
article#noticia-principal header#cabecalho-artigo h1{
    font-family: 'fontelogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
article#noticia-principal header#cabecalho-artigo h2{
    font-size: 13pt;
    color:#c4c4c4;
    background-color: #ffffff;
    margin: 0px; 

}
.direita{
    font-size: 13pt;
    text-align: right;
}
/* Formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 10px solid white;
    box-shadow: 1px 1px 4px black
}
figure.foto-legenda img {
    width: 80%; /*altura*/
    height: 80%; /*largura*/
}
figure.foto-legenda figcaption {
    opacity: .3;
    position: absolute;
    top: 0px;
    background-color: rgb(0,0,0,.4);
    color: white;
    font-size: 30px;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/*Formatação menu*/
nav#menu {
    display: block;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    left: 500px;
}
nav#menu li {
    display: inline-block;
    background-color: rgb(210, 209, 209);
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
}
nav#menu li:hover {
    background-color: rgb(255, 255, 255);
}
nav#menu h1 {
    display: none;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: black;
}

section#corpo {
    display: block;
    width: 420px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}


table#tabelaspec{
    border: 1px /*expessura*/ solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px /*expessura*/ solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
table#tabelaspec caption{
    color: grey;
    font-weight: bolder;
    font-size: 15pt;
}
table#tabelaspec caption span{
    display: block;
    float:right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
table#tabelaspec td.ce {
    background-color: #606060;
    color: white;
    vertical-align: top;
    font-weight: bold;
}
table#tabelaspec td.ce:hover{
    
    background-color: rgba(0,0,0, .8);
}
table#tabelaspec td.cd{
    background-color: whitesmoke;
}
aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #828282;
}
aside#lateral h1 {
    font-family: 'fontelogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    background-color:#c4c4c4;
}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
    padding-top: 15px;
    padding: 20px;
}
footer#rodape p {
    text-align: center;
    text-shadow: .5px .5px .5px black;
}
footer#rodape p:hover {
    background-color: rgb(147, 151, 151);
}
